.navbar-nav {
  color: black;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: azure;
  margin-top: 20px;
  padding-bottom: 5%;
}

.text-header {
  justify-content: center;
  padding-top: 15vh;
  font-family: "Poppins", sans-serif;
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.category .category-item {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 3rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline-offset: 1.5rem;
  cursor: pointer;
}
.category .category-item category-image {
  height: 25rem;
}
